#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.slideshow {
    border: solid black 1px;
    display: table-cell;
    vertical-align: middle;
    height: 56.25%;
    width: 100%;
}

.slide {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    height: 400px;
    justify-content: flex-start;

    .title {
        height: 0;
        width: 100%;
    }
}

.title-slide {
    margin: auto;
}

.btn-paging-left {
    top: 50%;
    left: 10px;
    position: absolute;
}

.btn-paging-right {
    top: 50%;
    right: 10px;
    position: absolute;
}
