html, body {
    height: 100%;
}

body {
    margin: 0;
}

#app {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.slideshow {
    border: solid black 1px;
    height: 56.25%;
    width: 100%;
}

.slide {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 0 10px;

    .title {
        width: 100%;

        h1 {
            -webkit-margin-after: 0;
        }
    }

    .body {
        align-items: flex-start;
        display: -webkit-flex;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        width: 100%;

        .full {
            width: 100%;
        }

        .half {
            width: 50%;
        }

        .third {
            width: 33%;
        }

        .quarter {
            width: 25%;
        }
    }
}

.title-slide {
    margin: auto;
}

.btn-paging-left {
    top: 50%;
    left: 10px;
    position: absolute;
}

.btn-paging-right {
    top: 50%;
    right: 10px;
    position: absolute;
}

pre {
    white-space: pre-wrap;
}